html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Jura', sans-serif;
  background-image: url(https://images.pexels.com/photos/301692/pexels-photo-301692.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: auto;
  margin-top: 17rem;
  padding: 5px;
  width: 65%;
  height: 75%;
  box-shadow: 0 0 20px 0 rgba(7, 6, 6, 0.363);
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.795);
}

.Home {
  display: flex;
  justify-content: center;  
}

.areaDel{
  margin-left: 5px;
  background-image: url('/public/imgs/trash-solid.svg');
}

.cardP {
  margin: auto;
  margin-top: 35px;
  padding: 5px;
  width: 65%;
  height: 75%;
  box-shadow: 0 0 20px 0 rgba(7, 6, 6, 0.363);
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.795);
}

.cardP h2,p,h3,form,select {
  display: flex;
  justify-content: center;
}

.cardP select {
  display: flex;
  justify-content: center;
  margin-left: 19rem;
}

.cardH {
  margin: auto;
  margin-top: 35px;
  padding: 5px;
  width: 65%;
  height: 75%;
  box-shadow: 0 0 20px 0 rgba(7, 6, 6, 0.363);
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.795);
}

.sub {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.sub .button {
  position: absolute;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.sub .button:hover {
  background-color: black;
  color: white;
}

.cardS {
  margin: auto;
  margin-top: 35px;
  padding: 5rem;
  width: 65%;
  height: 75%;
  box-shadow: 0 0 20px 0 rgba(7, 6, 6, 0.363);
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.795);
  background-size: contain;
}

.cardS h1,p,h3,form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardH h2,p,h3,form {
  display: flex;
  justify-content: center;
} 

.sec-div {
  display: flex;
  flex-direction: column;
}

.place {
  flex-direction: column;
  text-align: center;
}

.cardD {
  margin: auto;
  margin-top: auto;
  padding: 5px;
  width: 65%;
  height: 75%;
  box-shadow: 0 0 20px 0 rgba(7, 6, 6, 0.363);
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.795);
}
.cardV {
  margin: auto;
  margin-top: auto;
  padding: 5px;
  width: 65%;
  height: 75%;
  box-shadow: 0 0 20px 0 rgba(7, 6, 6, 0.363);
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.795);
}

.cardD h2,p,h3,form {
  display: flex;
  justify-content: center;
}

li{
  display: flex;
  justify-content: center;
  margin-right: 37px; 
}


.cardV h2,p,h3 {
  display: flex;
  justify-content: center;
}

.reportsOverview {
  display: flex;
  justify-content: center;
}

.personnelOverview {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-template-rows: repeat(auto, 150px);
  margin: 5px;
  padding: 5rem;
  /* object-fit: contain; */
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  background: rgb(26, 25, 25);
  top: 0;
  left: 0;
  position: fixed;
  height: 56px;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar_logo {
  margin: .5rem;
  margin-left: 1rem;
}

.navbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 2rem;
}
.navbar_logo .bev {
  color:rgb(231, 132, 52);
}

.spacer {
  flex: 1;
}

.navbar_navigation-items {
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
}
/* Button Styles */
.btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.3rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  
}

ul .btn {
  text-decoration: none;
  list-style-type: none;
}

.btn li {
  text-decoration: none;
  margin: 0.5rem;
  color: white;
}

/* ^^^Button Styles */
.navbar_navigation-items .btn li:hover,
.navbar_navigation-items .btn li:active {
  color: rgb(231, 132, 52);
}

.deleteInventoryButton {
  color: black;
}

.overview, .venue {
  margin-top: 100px;
  width: 100%;
  height: 100%;
}
.container {
  box-sizing: border-box;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}
.wrapper > * {
  padding: 1em;
}
.company-info {
  background: black;
  color: white;
}
.company-info h1 {
  text-align: center;
}
.company-info span {
  color:rgb(231, 132, 52);
}
.contact {
  background: #f9feff;
}
.homeButton {
  cursor: pointer;
}
.aboutButton {
  cursor: pointer;
}
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.contact form .full {
  grid-column: 1/3;
}
.contact form button, .contact form input, .contact form textarea {
  width: 100%;
}
.contact form .foundSubmit {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  grid-column: 1/3;
  cursor: pointer;
}
.contact form .noSubmit {
  grid-column: 1/3;
}
.contact form .foundSubmit, .contact form input, .contact form textarea {
  border: 1px solid #c9e7ff;
}
.contact form .foundSubmit:hover, .contact form .foundSubmit:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 1s ease-out;
}


@media (max-width: 768px) {
  .navbar_navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .navbar_toggle-button {
    display: none; 
  }

  .navbar_logo {
    margin-left: 0;
  }
}